*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #083b4c;
}

h1{
    color: white;
    text-align: center;
    font-size: 100px;
    padding: 45px;
}

#container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
    gap: 30px;
    
}

#container div{
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    width: 120px;
}