*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #083b4c;
}

h1{
    color: white;
    text-align: center;
    font-size: 80px;
    padding: 20px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 10px;
}

#container div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    min-width: 120px;
    width: calc(100% / 10 - (10px / 10));
}